<a href="https://colab.research.google.com/github/VIVEK-BALU/code/blob/main/ds_assignment_Pratilipi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) 
    X = np.array(df[[forecast_col]]) 
    X = preprocessing.scale(X) 
    X_lately = X[-forecast_out:] 
    X = X[:-forecast_out] 
    label.dropna(inplace=True) 
    y = np.array(label)  
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) 

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [5]:
df = pd.read_csv("user-interactions.csv")

In [10]:
df.head()

,Unnamed: 0,user_id,pratilipi_id,read_percent,updated_at
0,0,5506791963854965,1377786220672965,100.0,2022-03-23 00:08:26.227
1,1,5506791979071996,1377786219742624,29.0,2022-03-23 00:08:26.220
2,2,5506791980256358,1377786217096334,22.0,2022-03-23 00:08:26.020
3,3,5506791988747277,1377786224767880,100.0,2022-03-23 00:08:25.306
4,4,5506791992372558,1377786218111595,100.0,2022-03-23 00:08:25.250

In [35]:
df

,Unnamed: 0,user_id,pratilipi_id,read_percent,updated_at
0,0,5506791963854965,1377786220672965,100.0,2022-03-23 00:08:26.227
1,1,5506791979071996,1377786219742624,29.0,2022-03-23 00:08:26.220
2,2,5506791980256358,1377786217096334,22.0,2022-03-23 00:08:26.020
3,3,5506791988747277,1377786224767880,100.0,2022-03-23 00:08:25.306
4,4,5506791992372558,1377786218111595,100.0,2022-03-23 00:08:25.250
...,...,...,...,...,...
15183,15183,5506791954556341,1377786224113261,100.0,2022-03-22 23:32:45.645
15184,15184,5506791954358930,1377786222911665,100.0,2022-03-22 23:32:45.163
15185,15185,4075803534336676,1377786224008456,100.0,2022-03-22 23:32:45.116
15186,15186,5506791983432270,1377786224197478,100.0,2022-03-22 23:32:44.960
15187,15187,5506791971030210,1377786228229398,100.0,2022-03-

In [25]:
forecast_col = 'read_percent'
forecast_out = 5
test_size = 0.25

In [26]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col,forecast_out,test_size)

In [27]:
learner = LinearRegression()
learner.fit(X_train,Y_train)

LinearRegression()

In [34]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}# json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': -0.00034518814585804414, 'forecast_set': array([88.6250943, 88.6250943, 88.6250943, 88.6250943, 88.6250943])}